html,
body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.6875;
	color: $black-color;
}
.container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	&--fluid {
		max-width: unset; // сбрасываем предыдущий max-width
		width: 100%;
	}

	&--no-padding {
		padding: 0;
	}
}
.visually-hidden {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	display: block;
	background: transparent;
	margin-left: -10000px;
	font-size: 0;
}
.wrapper {
	overflow: hidden;
	min-width: 1280px;
}
